:root {
  --purp-: #9162ad;
  --purp--: #795291;
  --light-: #f7f1ff;
  --light--: #d3cade;
  --light---: #d3cadecc;
  --light----: #d3cade80;
  --light-----: #d3cade4d;
  --light------: #d3cade1a;
  --dark-: #2e2b2f;
  --dark--: #242125;
  --dark--dim: #24212580;
  --dark---: #201c20;
  --pop-up-green: #3cf498;
  --pop-up-yellow: #f4f43c;
  --pop-up-red: #f43c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light-);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

body {
  height: 100vh;
  background-color: var(--dark--);
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

*::placeholder {
  color: var(--light-----);
}

*:focus {
  outline: solid 2px var(--purp-);
}

.no-focus:focus {
  outline: none;
}

.awaiting {
  opacity: 0.75 !important;
}
.awaiting:hover {
  cursor: wait !important;
}

#pop-up {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 330px;
  height: 93px;
  padding: 1rem;
  border: solid 1px var(--light------);
  border-radius: 0.5rem;
  background-color: var(--dark---);
  transform: translateX(-50%);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  & #pop-up-title {
    margin-bottom: 0.2rem;
    font-size: 0.88rem;
  }

  & #pop-up-body {
    color: var(--light---);
  }

  & #pop-up-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 0.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--pop-up-green);
  }
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--dark-);
  z-index: 10;

  & img {
    width: 200px;
    margin-top: 5rem;
    opacity: 0;
    animation: slide-up 0.5s 0.3s ease-out forwards;
  }
}

@keyframes slide-up {
  to {
    margin-top: 0rem;
    opacity: 1;
  }
}

#login {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--dark-);
  z-index: 9;

  & div {
    width: 500px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    aspect-ratio: 1/1;
    background-image: url("./assets/img/banner.png");
    background-size: cover;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      width: 100%;
      height: 250px;
      margin-top: 250px;
      padding: 1.5rem;

      & small {
        text-align: center;
      }

      & input {
        display: block;
        width: 100%;
        height: 40px;
        padding-inline: 0.75rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
      }

      & input:not(input[type="submit"]) {
        background-color: var(--dark--);
        color: var(--light-);
        box-shadow: inset 3px 3px 3px var(--dark---);
      }

      & input[type="submit"] {
        background-color: var(--light-);
        color: var(--dark--);
        font-weight: 700;
        transition: opacity 0.2s ease-out;
      }

      & input[type="submit"]:hover {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark--);

  & #notifications-list {
    position: absolute;
    top: 36px;
    right: calc(7.5rem + 320px);
    width: 330px;
    border: solid 1px var(--light------);
    border-radius: 0.5rem;
    background-color: var(--dark---);
    visibility: hidden;
    z-index: 12;

    & h3 {
      margin-block: 1rem;
      text-align: center;
      font-size: 0.75rem;
      color: var(--light---);
    }

    & #notifications {
      display: flex;
      flex-direction: column;
      width: 100%;

      & .noti {
        position: relative;
        height: 93px;
        padding: 1rem;
        border-top: solid 1px var(--light------);

        & .noti-title {
          text-align: left;
          margin-bottom: 0.2rem;
          font-size: 0.88rem;
          font-weight: 600;
        }

        & .noti-body {
          color: var(--light---);
        }

        & .noti-type {
          position: absolute;
          top: 1rem;
          right: 1rem;
          width: 0.5rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }

        & .green {
          background-color: var(--pop-up-green);
        }

        & .yellow {
          background-color: var(--pop-up-yellow);
        }

        & .red {
          background-color: var(--pop-up-red);
        }
      }
    }
  }

  & #log-out-menu {
    position: absolute;
    top: 36px;
    right: calc(4.5rem + 320px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 193px;
    border: solid 1px var(--light------);
    border-radius: 0.5rem;
    background-color: var(--dark---);
    z-index: 12;
    visibility: hidden;

    & div {
      display: flex;
      flex-direction: column;
      align-items: center;

      & img {
        height: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }

      & h4 {
        color: var(--light----);
        font-size: 0.75rem;
      }

      & #user-name {
        font-weight: 600;
        font-size: 1rem;
      }

      & #user-device-name {
        color: var(--light---);
        font-size: 0.75rem;
      }

      & #user-number {
        margin-bottom: 1.5rem;
        color: var(--light---);
        font-size: 0.75rem;
      }
    }

    & button {
      display: block;
      width: 100%;
      padding: 1rem;
      border: none;
      border-top: solid 1px var(--light------);
      background-color: transparent;
      font-size: 0.88rem;
    }

    & button:hover {
      cursor: pointer;
    }
  }

  & #menu-toggle-alt-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    background-color: var(--dark--dim);
    backdrop-filter: blur(1px);
    visibility: hidden;
    z-index: 11;
  }

  & aside {
    position: absolute;
    top: 0;
    right: -320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100%;
    padding: 1.5rem;
    background-color: var(--dark-);
    transition: right 0.5s 0.2s ease-out;
    z-index: 8;

    & #search-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      visibility: hidden;

      & img {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        height: 1.5rem;
      }

      & input {
        height: 40px;
        padding-inline: 0.8rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--dark--);
        font-size: 1rem;
        box-shadow: inset 3px 3px 3px var(--dark---);
      }

      & input::placeholder {
        color: var(--light----);
      }

      & div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button {
          border: none;
          background-color: transparent;
          color: var(--light---);
          cursor: pointer;
        }
      }
    }

    & #contact-list-container {
      position: relative;
      width: 100%;
      height: calc(100% - 56px - 82px);
      padding-block: 2rem;

      & #contact-list-placeholder {
        position: absolute;
        bottom: 1rem;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        width: 100%;
        visibility: visible;

        & h4 {
          text-align: center;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.5rem;
        }

        & h5 {
          text-align: center;
          color: var(--light--);
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }
    }

    & #update-list-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      & img {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 20px;
        aspect-ratio: 1/1;
      }

      & #update-list-select {
        height: 26px;
        padding-left: 0.4rem;
        border: 1px solid var(--light----);
        border-radius: 0.5rem;
        background-color: var(--dark-);
        font-size: 0.75rem;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
      }

      & #update-list-btn {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--light-);
        color: var(--dark-);
        font-weight: 600;
        font-size: 1rem;
        transition: opacity 0.2s ease-out;
      }

      & #update-list-btn:hover {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.5s ease-out;
  z-index: 8;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    padding: 1.5rem;

    & img {
      height: 1.5rem;
    }

    & #header-btns-container {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease-out;

      & button {
        height: 1.5rem;
        border: none;
        background-color: transparent;
      }

      & button:hover {
        cursor: pointer;
      }
    }
  }

  & #qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 4.5rem);

    & .display-msgs::before {
      content: "Com o dispositivo que deseja conectar, vá em Dispositivos Conectados e escaneie o QR Code abaixo.";
      position: absolute;
      top: -4rem;
      left: 50%;
      width: 200%;
      text-align: center;
      font-size: 1rem;
      transform: translateX(-50%);
    }

    & .display-msgs::after {
      content: "O tempo de conexão varia de acordo com seu dispositivo.";
      position: absolute;
      bottom: -2.25rem;
      left: 50%;
      width: 150%;
      color: var(--light---);
      text-align: center;
      font-size: 0.75rem;
      transform: translateX(-50%);
    }

    & #qr-container {
      position: relative;
      width: 250px;
      padding: 1.5rem;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      background-color: var(--light-);

      & #qr-inner-msg {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1/1;
        padding: 1.5rem;

        & img {
          margin: 0.4rem;
          height: 1.5rem;
        }

        & h4 {
          text-align: center;
          color: var(--dark-);
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.5rem;
        }

        & h5 {
          text-align: center;
          color: var(--dark--dim);
          font-size: 0.75rem;
          line-height: 1rem;
        }
      }
    }
  }
}
